:root{
    --font-color1: black;
    --font-color2: white;
    --font-color3: red;
    --font-color4: yellow;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: var(--font-color1);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: var(--font-color3);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 640px;
    margin-top: 20px;
    margin-bottom: 30px;
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color3);
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: var(--font-color1);
    font-size: 1rem;
    transition: 1.5s;
    text-transform: uppercase;
}
header a:hover{
    transform: scale(1.1);
    color: var(--font-color4);
    text-decoration: underline;
}
#text-one{
    margin-top: 40px;
    margin-bottom: 40px;
}
#text-one p{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--font-color2);
    font-size: 25px;
}
#text-two{
    margin-top: 40px;
    margin-bottom: 40px;
}
.cardapio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardapio p{
    color: var(--font-color2);
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}
@media(max-width: 500px){
    header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    header h1{
        margin-left: 0px;
    }
    header a{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}